* {
    box-sizing: border-box;
}

h1,
h2 {
    color: #FF8080;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h3 {
    color: #F6FDC3;
}

p {
    margin-bottom: 5px;
    padding: 5px;
    color: #FF8080;
    border-radius: 5px;

}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    text-align: center;
    animation: fadeInDown 1s ease-in-out;

}

.logo-container img {
    width: 200px;
}

nav ul {
    list-style-type: none;
    background-color: #CDFADB;
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: #FF8080;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: 300;
}

nav a:hover {
    font-weight: bold;
    background-color: #e0ab68;
    color: #fff;
}

main {
    padding: 1rem;
}

.jumbotron {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    padding: 100px;
    background: url('jumbotron.jpg');
}

#content {
    width: 69%;
    height: 100%;
    float: left;

}

.card {
    background-color: #CDFADB;
    padding: 2rem;
    margin: 10px;
    margin-left: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.featured-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 4px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

aside {
    color: #FF8080;
    display: flex;
    width: 20%;

}

.profile {
    background-color: #F6FDC3;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    flex-direction: column;
}

.profile img {
    max-width: 200px;
}

footer {
    background-color: #CDFADB;
    color: #FF8080;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    clear: both;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
}

table {
    width: 100%;

}

th,
td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    main aside {
        width: 90%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    main aside {
        width: 90%;
        margin-top: 20px;
    }

    .card {
        width: 90%;
        margin: 10px auto;
    }
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-image: url('navigasi.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s; 
    animation: floatAnimation 2s infinite alternate; 
}

#scroll-to-top:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
